/* ------------------------------------Fonts------------------------------------ */
/* Montserrat */
@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("../fonts/Montserrat-ExtraLight.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: "Montserrat-Black";
  src: url("../fonts/Montserrat-Black.ttf");
}

/* Poppins */
@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("../fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-ExtraBold";
  src: url("../fonts/Poppins-ExtraBold.ttf");
}
@font-face {
  font-family: "Poppins-Black";
  src: url("../fonts/Poppins-Black.ttf");
}

/* ------------------------------------shared classes------------------------------------ */
:root {
  --color-1: #748182;
  --color-2: #343434;
  --color-3: #111;
  --color-4: #1c1c1c;
  --white-color: white;
  --black-color: black;
}
.section-title {
  color: var(--color-2);
  font-size: 2.5rem;
  font-family: "Montserrat-ExtraBold";
  position: relative;
  z-index: 1;
  width: fit-content;
  margin-inline: auto;
}
.section-title::after {
  content: "";
  background-image: url("../images/webp_images/dots.webp"),
    url("../images/jpg_images/dots.png");
  width: 100%;
  height: 30px;
  position: absolute;
  left: 0;
  background-repeat: repeat;
  z-index: -1;
  bottom: -5px;
}
.active-line::after {
  content: "";
  position: absolute;
  left: 0.3125rem;
  right: 0.3125rem;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
}
/* ------------------------------------js classes------------------------------------ */
.navbar-home {
  background-color: transparent;
  transition: background-color 0.3s ease;
}
.navbar-scrolled {
  background-color: var(--white-color);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
nav.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

/* ------------------------------------Navbar------------------------------------ */
nav {
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar {
  position: absolute;
}
.navbar-brand {
  font-family: "Montserrat-ExtraBold";
  font-size: 1.125rem;
  color: var(--white-color);
}
nav.navbar-scrolled .navbar-brand {
  color: var(--color-4);
}
.navbar-brand:focus,
.navbar-brand:hover {
  color: white;
}
nav.navbar-scrolled .navbar-brand:focus,
nav.navbar-scrolled .navbar-brand:hover {
  color: var(--color-4);
}
nav button.navbar-toggler {
  border: 0;
}
nav button.navbar-toggler:focus {
  box-shadow: none;
}
nav button.navbar-toggler .fa-bars {
  font-size: 1.5625rem;
}
.navbar-scrolled button.navbar-toggler .fa-bars {
  color: var(--black-color);
}
nav ul.navbar-nav li {
  margin-left: 0.9375rem;
}
.nav-link {
  color: var(--white-color);
  position: relative;
  font-family: "Poppins-Regular";
  font-size: 0.875rem;
}
.navbar-scrolled .nav-link {
  color: var(--color-3);
}
.nav-link:focus,
.nav-link:hover {
  color: var(--white-color);
}
.navbar-scrolled .nav-link:focus,
.navbar-scrolled .nav-link:hover {
  color: var(--color-3);
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--white-color);
}
.navbar-scrolled .navbar-nav .nav-link.active,
.navbar-scrolled .navbar-nav .nav-link.show {
  color: var(--color-3);
}
.navbar-nav .nav-link::after {
  bottom: 0px;
  background-color: var(--white-color);
  transition: transform 0.7s;
}
.navbar-nav .nav-link.active::after {
  transform: scaleX(1);
}
.navbar-scrolled .navbar-nav .nav-link::after {
  background-color: var(--color-3);
}

/* ------------------------------------Header------------------------------------ */
header#home {
  height: 100vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/webp_images/bg.webp") center / cover scroll,
    url("../images/jpg_images/bg.jpg") center / cover scroll;
}
header#home .text {
  color: var(--white-color);
  text-align: center;
}
header#home p {
  font-size: 3.125rem;
  font-family: "Montserrat-ExtraBold";
}
header#home h1 {
  font-size: 3.75rem;
  font-family: "Montserrat-ExtraLight";
}
header#home h1 span {
  font-family: "Montserrat-Regular";
}
header#home .fa-stack {
  color: #000c14;
  font-size: 17px;
  cursor: pointer;
}
header#home .fa-stack i:last-child {
  font-size: 13px;
  color: var(--white-color);
}

/* ------------------------------------About------------------------------------ */
section#about .left .picture::after {
  content: "";
  background-image: url("../images/webp_images/dots.webp"),
    url("../images/jpg_images/dots.png");
  width: 80%;
  height: 80%;
  position: absolute;
  left: -20px;
  bottom: -20px;
  background-repeat: repeat;
  z-index: -1;
}
section#about .right h2 {
  color: var(--color-2);
  font-family: "Montserrat-ExtraBold";
}
section#about .right h3 {
  color: #999;
  font-family: "Poppins-Regular";
  font-size: 0.875rem;
  letter-spacing: 3px;
}
section#about .right p {
  color: var(--color-1);
  font-family: "Poppins-Regular";
  font-size: 0.9375rem;
  line-height: 24px;
}
section#about .right p span {
  font-family: "Poppins-Bold";
}
section#about .right .skills .progress {
  height: 1.5rem;
  margin-bottom: 30px;
  box-shadow: inset 0px 1px 5px 0px #00000026;
}
section#about .right .skills .progress .progress-bar:first-child {
  font-size: 13px;
  font-family: "Montserrat-Medium";
}
section#about .right .buttons {
  font-family: "Poppins-Regular";
}
section#about .right .buttons button {
  font-size: 0.8125rem;
  transition: all 0.7s;
}
section#about .right .buttons button:first-child {
  color: #eee;
}
section#about .right .buttons button:first-child:hover {
  color: rgb(52, 52, 52);
  background-color: #fff;
}
section#about .right .buttons button:last-child {
  color: rgb(52, 52, 52);
}
section#about .right .buttons button:last-child:hover {
  color: var(--white-color);
  background-color: rgb(33, 37, 41);
}

/* ------------------------------------Services------------------------------------ */
section#services {
  scroll-margin-top: 3.25rem;
}
section#services article {
  background-color: var(--white-color);
  box-shadow: 1px 0px 2px 2px #80808012;
  transition: all 0.7s;
}
section#services article .fa-stack i:first-child {
  color: #f7f7f7;
  transition: all 0.3s;
}
section#services article .fa-stack i:last-child {
  font-size: 1.875rem;
  transition: all 0.3s;
  color: var(--black-color);
}
section#services article h3 {
  color: var(--color-2);
  font-size: 1.125rem;
  font-family: "Montserrat-ExtraBold";
}
section#services article p {
  color: var(--color-1);
  font-size: 0.875rem;
  font-family: "Poppins-Regular";
  word-spacing: 2px;
}
section#services article:hover .fa-stack i:first-child {
  color: var(--black-color);
}
section#services article:hover .fa-stack i:last-child {
  color: var(--white-color);
}

/* ------------------------------------Portfolio------------------------------------ */
section#portfolio {
  scroll-margin-top: 3.25rem;
}
/* slider */
section#portfolio .slider {
  background-color: #0b0b0b;
  opacity: 0.9;
}
section#portfolio .slider span.close-icon {
  position: absolute;
  top: -3.125rem;
  right: -1rem;
  color: var(--white-color);
  font-size: 2rem;
}
section#portfolio .slider .carousel .carousel-inner {
  overflow: visible;
}
section#portfolio .slider .carousel .carousel-inner .carousel-item {
  position: relative;
}
section#portfolio .slider .carousel .carousel-inner .carousel-item span {
  position: absolute;
  bottom: -30px;
  right: 0;
  color: #ccc;
  font-size: 14px;
}
section#portfolio .slider .carousel .carousel-inner img {
  cursor: zoom-in;
}
section#portfolio .slider .carousel .carousel-inner img:active {
  cursor: grab;
  transform: scale(1.05);
}
.carousel-control-next,
.carousel-control-prev {
  opacity: 1;
}
section#portfolio .slider .carousel button span {
  background-color: gray;
  padding: 1.25rem 0.625rem;
  border-radius: 0.3125rem;
}
section#portfolio .slider img {
  width: 100%;
}
/* end slider */
section#portfolio .cards ul.nav-pills button {
  color: #222;
  font-size: 1rem;
  font-family: "Poppins-Bold";
  position: relative;
}
section#portfolio .cards ul.nav-pills button::after {
  bottom: 15%;
  background-color: var(--black-color);
  transition: transform 0.3s;
}
section#portfolio .cards ul.nav-pills button.active {
  background-color: transparent;
}
section#portfolio .cards ul.nav-pills button.active::after {
  transform: scaleX(1);
}
section#portfolio article.card .links {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--white-color);
  margin: 0.1875rem;
  opacity: 0;
  transition: opacity 0.7s;
}
section#portfolio article.card:hover .links {
  opacity: 1;
}
section#portfolio article.card .links h3 {
  color: var(--color-2);
  font-size: 0.75rem;
  font-family: "Montserrat-Bold";
  letter-spacing: 0.125rem;
}
section#portfolio article.card .icons {
  color: var(--black-color);
  display: flex;
  justify-content: center;
}
section#portfolio .icons a {
  width: 30px;
  height: 30px;
  border: 1px solid var(--black-color);
  border-radius: 50%;
  background-color: var(--black-color);
  transition: all 0.5s;
}
section#portfolio .icons a:hover {
  background-color: var(--white-color);
}
section#portfolio .icons a i {
  transition: inherit;
  color: var(--white-color);
  font-size: 13px;
}
section#portfolio .links a:hover i {
  color: var(--black-color);
}

/* ------------------------------------Testimonial------------------------------------ */
section#testimonial {
  scroll-margin-top: 3.25rem;
}
.carousel {
  position: static;
}
section#testimonial .carousel-item .content p {
  color: var(--color-1);
  font-family: "Poppins-Regular";
  font-size: 0.9375rem;
  word-spacing: 2px;
  margin-top: 20px;
}
section#testimonial .carousel-item .content h3 {
  font-family: "Montserrat-SemiBold";
  font-size: 1rem;
  color: var(--color-2);
}
section#testimonial .carousel-item .content h4 {
  font-family: "Poppins-SemiBold";
  font-size: 0.75rem;
  color: #888;
}
.carousel-indicators {
  position: static;
}
.carousel-indicators [data-bs-target] {
  width: 1rem;
  height: 1rem;
  margin-inline: 0.3125rem;
  border-radius: 50%;
  background-color: gray;
  transition: all 0.3s;
}
.carousel-indicators [data-bs-target]:hover {
  opacity: 1;
}

/* ------------------------------------Stats------------------------------------ */
section#stats .box i {
  font-size: 1.875rem;
}
section#stats .box p {
  font-size: 1.875rem;
  color: var(--color-2);
  font-family: "Montserrat-Black";
}
section#stats .box h2 {
  font-size: 0.9375rem;
  color: var(--color-1);
  font-family: "Poppins-SemiBold";
}

/* ------------------------------------Team------------------------------------ */
section#team {
  scroll-margin-top: 3.25rem;
}
section#team article.card:hover .links {
  transform: rotateY(0) scale(1, 1);
  opacity: 0.95;
}
section#team img {
  transition: all 0.5s;
}
section#team picture:hover img {
  transform: scale(1.2);
}
section#team .links {
  background-color: var(--white-color);
  padding: 30px;
  display: flex;
  justify-content: center;
  position: absolute;
  inset: 0;
  align-items: center;
  margin: 0.3125rem;
  opacity: 0;
  transform: rotateY(180deg) scale(0.5, 0.5);
  transition: all 0.5s;
}
section#team .links a {
  font-size: 1.2em;
  width: 40px;
  height: 40px;
  border: 1px solid var(--black-color);
  border-radius: 50%;
  background-color: var(--black-color);
  transition: all 0.5s;
}
section#team .links a:hover {
  background-color: var(--white-color);
}
section#team .links a i {
  transition: inherit;
}
section#team .links a:hover i {
  color: var(--black-color);
}
section#team .card-body h3 {
  font-size: 1.5625rem;
  font-family: "Montserrat-Medium";
}
section#team .card-body h3 {
  font-size: 1.25rem;
  font-family: "Montserrat-Bold";
}

/* ------------------------------------Contact------------------------------------ */
section#contact header {
  margin-bottom: 3.125rem;
}
section#contact .box i {
  background-color: #f4f4f4;
  transition: all 0.5s;
}
section#contact .box:hover i {
  background-color: var(--black-color);
  color: var(--white-color);
}
section#contact .box p:first-of-type {
  color: var(--color-2);
  font-family: "Montserrat-Bold";
}
section#contact .box p:last-of-type {
  color: var(--color-1);
  font-size: 0.9375rem;
  font-family: "Poppins-Regular";
}
section#contact form input,
section#contact form textarea {
  background-color: #f4f4f4;
  border: none;
  font-size: 0.875rem;
  font-family: "Poppins-Regular";
}
section#contact form textarea {
  height: 10rem;
  max-height: 10rem;
}
.form-control:focus {
  box-shadow: none;
}
.form-control:focus-visible {
  outline: none;
}
section#contact form button {
  font-size: 0.8125rem;
  font-family: "Poppins-Regular";
  color: #eee;
  padding-inline: 2.5rem;
}

/* ------------------------------------Footer------------------------------------ */
footer {
  padding-block: 1.875rem;
  background-color: var(--color-4);
}
footer h2 {
  font-size: 0.8125rem;
  color: var(--color-1);
  font-family: "Poppins-Regular";
  word-spacing: 0.125rem;
}

/* ------------------------------------Media------------------------------------ */
/* lower md */
@media screen and (max-width: 768px) {
  /* Navbar */
  ul.navbar-nav {
    background-color: var(--white-color);
    padding-top: 10px;
  }
  li.nav-item {
    padding-block: 0.3125rem;
  }
  a.nav-link {
    color: var(--color-3);
    font-size: 0.8125rem;
    transition: all var(--main-transition-duration);
  }
  .nav-link:focus,
  .nav-link:hover,
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.show {
    color: var(--color-3);
  }
  .navbar-nav .nav-link::after {
    background-color: var(--color-3);
    transition-duration: 0.3s;
  }
  /* header */
  header#home h1 {
    font-size: 1.875rem;
    font-family: "Montserrat-ExtraLight";
  }
}

/* md */
@media screen and (min-width: 768px) {
  /* slider */
  .slider .modal-dialog {
    --bs-modal-width: 650px;
  }
  section#portfolio .slider img {
    height: 500px;
  }
}
/* lg and higher */
@media screen and (min-width: 992px) {
  /* slider */
  .slider .modal-dialog {
    --bs-modal-width: 800px;
  }
}

/* xl and higher */
@media screen and (min-width: 1200px) {
  header#home,
  section#statistics,
  section#testimonial,
  section#contact {
    background-attachment: fixed;
  }
  /* slider */
  .slider .modal-dialog {
    --bs-modal-width: 880px;
  }
}
