/* ------------------------------------Fonts------------------------------------ */
/* Montserrat */
@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("../fonts/Montserrat-ExtraLight.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: "Montserrat-Black";
  src: url("../fonts/Montserrat-Black.ttf");
}
/* Montserrat */
@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("../fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-ExtraBold";
  src: url("../fonts/Poppins-ExtraBold.ttf");
}
@font-face {
  font-family: "Poppins-Black";
  src: url("../fonts/Poppins-Black.ttf");
}

/* Navbar */
nav {
  /* background-color: rgba(0, 0, 0, 0.9); */
}
.navbar-brand {
  font-family: "Montserrat-ExtraBold";
  font-size: 1.125rem;
  color: white;
}
.navbar-brand:focus,
.navbar-brand:hover {
  color: white;
}
nav button.navbar-toggler {
  border: 0;
}
nav button.navbar-toggler:focus {
  box-shadow: none;
}
nav button.navbar-toggler .fa-bars {
  font-size: 1.5625rem;
}
nav ul.navbar-nav li {
  margin-left: 0.9375rem;
}
.nav-link {
  color: white;
  position: relative;
  font-family: "Poppins-Regular";
  font-size: 0.875rem;
}
.nav-link:focus,
.nav-link:hover {
  color: white;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: white;
}
.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0.3125rem;
  right: 0.3125rem;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.7s;
}
.navbar-nav .nav-link.active::before {
  transform: scaleX(1);
}

/* Header */
header#home {
  height: 100vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/webp_images/bg.webp") center / cover scroll,
    url("../images/jpg_images/bg.jpg") center / cover scroll;
}
header#home .text {
  color: white;
  text-align: center;
}
header#home p {
  font-size: 3.125rem;
  font-family: "Montserrat-ExtraBold";
}
header#home h1 {
  font-size: 3.75rem;
  font-family: "Montserrat-ExtraLight";
}
header#home h1 span {
  font-family: "Montserrat-Regular";
}
header#home .fa-stack {
  color: #000c14;
  font-size: 17px;
}
header#home .fa-stack i:last-child {
  font-size: 13px;
  color: white;
}
/* about */
section#about .left .picture::after {
  content: "";
  background-image: url("../images/webp_images/dots.webp"),
    url("../images/jpg_images/dots.png");
  width: 80%;
  height: 80%;
  position: absolute;
  left: -20px;
  bottom: -20px;
  background-repeat: repeat;
  z-index: -1;
}
section#about .right h2 {
  color: #343434;
  font-family: "Montserrat-ExtraBold";
}
section#about .right h3 {
  color: #999;
  font-family: "Poppins-Regular";
  font-size: 0.875rem;
  letter-spacing: 3px;
}
section#about .right p {
  color: #748182;
  font-family: "Poppins-Regular";
  font-size: 0.9375rem;
  line-height: 24px;
}
section#about .right p span {
  font-family: "Poppins-Bold";
}
section#about .right .skills .progress {
  height: 1.5rem;
  margin-bottom: 30px;
  box-shadow: inset 0px 1px 5px 0px #00000026;
}
section#about .right .skills .progress .progress-bar:first-child {
  font-size: 13px;
  font-family: "Montserrat-Medium";
}
section#about .right .buttons {
  font-family: "Poppins-Regular";
}
section#about .right .buttons button {
  font-size: 0.8125rem;
  transition: all 0.7s;
}
section#about .right .buttons button:first-child {
  color: #eee;
}
section#about .right .buttons button:first-child:hover {
  color: rgb(52, 52, 52);
  background-color: #fff;
}
section#about .right .buttons button:last-child {
  color: rgb(52, 52, 52);
}
section#about .right .buttons button:last-child:hover {
  color: white;
  background-color: rgb(33, 37, 41);
}
/* ------------------------------------Media------------------------------------ */
/* lower md */
@media screen and (max-width: 768px) {
  /* Navbar */
  ul.navbar-nav {
    background-color: white;
    padding-top: 10px;
  }
  li.nav-item {
    padding-block: 0.3125rem;
  }
  a.nav-link {
    color: #111;
    font-size: 0.8125rem;
    transition: all var(--main-transition-duration);
  }
  /* header */
  header#home h1 {
    font-size: 1.875rem;
    font-family: "Montserrat-ExtraLight";
  }
}
